@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@keyframes backgroundTransition {
    0% {
      background-image: url('./assets/images/animate-logo.svg');
    }
    50% {
      background-image: url('./assets/images/animate-logo.svg');
    }
    100% {
      background-image: url('./assets/images/animate-logo.svg'); 
    }
  }